@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(20, 21, 23);
}
